
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

/*==============Home Page======================= */
body {
  position: relative;
}
.background-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 0;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
}
a {
  color: #000;
}
img {
  width: 100%;
}
.logo-inner {
  width: 25%;
}
.logo-inner img {
  height: 45px;
}

@media (max-width: 1600px) {
  .logo-inner {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .logo-inner {
    width: 30%;
  }
}
@media (max-width: 640px) {
  .logo-inner {
    width: 60%;
  }
}
.client_image {
  width: 100%;
  margin: 10px;
}

/* CustomCursor.css */
.custom-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s, transform 0.3s;
}

.custom-cursor:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
/* ================Scroll to top================= */
/* Scroll to Top Button Styles */
.back-top {
  position: fixed;
  bottom: 55px; 
  right: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}

.back-top.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px); 
}

.back-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); 
}

.rocket {
  width: 35px;
  height: 100px;
  background: url("../src/assets/rocket.png") no-repeat center;
  background-size: contain;
  transition: height 0.3s linear, transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.2);
}
.rocket.showrocket {
  height: 100px;
}

.rocket:hover {
  height: 125px;
  transition: height 0.3s linear;
}


/* Pulsing Effect */
@keyframes pulsing1 {
  0% {
    box-shadow: 0 0 0 0 rgba(29, 181, 193, 0);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(29, 181, 193, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(29, 181, 193, 0);
  }
}

/* ==========Loader Css================= */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
 
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #0000}
}